<footer>
  <div class="footer-content">
    <div class="footer-col">
      <h3>Student management system</h3>
      <p>
        The best Student Management System(SMS) to track student attendance,
        Grades and Attendance in any school, college or university.This program will allow you to easily assign tasks to
        students and track their progress. Manage classes and individual
        assignments quickly and efficiently with this course management
        system for teachers.
      </p>
    </div>
    <div class="footer-col">
      <h3>Company</h3>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
<!--      <a routerLink="/privacyPolicy">Privacy policy</a>-->
<!--      <a routerLink="/terms">Terms and Conditions</a>-->
    </div>
    <div class="footer-col">
      <div class="contact-socials">
        <h3>SOCIAL MEDIA</h3>
        <div class="social-links">
          <a href="https://www.facebook.com/kyiv.university" target="_blank"
          ><i class="fab fa-facebook-square"></i
          ></a>
          <a href="https://www.instagram.com/knu_uni/" target="_blank"
          ><i class="fab fa-instagram-square"></i
          ></a>
          <a
            href="https://ua.linkedin.com/school/taras-shevchenko-national-university-of-kyiv/"
            target="_blank"
          ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://www.youtube.com/c/KNUDepartmentofCommunications"
            target="_blank"
          ><i class="fab fa-youtube-square"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
