<header style="overflow: hidden;">
  <!-- navigation -->
  <app-nav-bar></app-nav-bar>

  <section class="charts-section">
  <h1>Students Statistics</h1>
  <div class="charts-all">

    <div class="divChart">
      <h3>Students degree diagram</h3>
      <canvas id="degreeChart"></canvas>
    </div>

    <div class="divChart">
      <h3>Students faculty diagram</h3>
      <canvas id="facultyChart"></canvas>
    </div>

    <div class="divChart">
      <h3>Students groups diagram</h3>
      <canvas id="groupsChart"></canvas>
    </div>

  </div>
  </section>
  <app-footer></app-footer>
</header>
