* {
  /* */
  /*font-family: 'Quicksand', sans-serif;*/
}
.about-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.about-content {

  margin: 0 60px;
  width: 40%;
}
.about-content h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  margin: 20px 0;
  letter-spacing: 6px;
}
.about-content p {
  font-size: 1.3rem;
  line-height: 30px;
}
.about-img {

  width: 30%;
}
.about-img img {
  width: 80%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 20px); }
  100%   { transform: translate(0, -0px); }
}
