<header style="overflow: hidden;">
  <!-- navigation -->
  <app-nav-bar></app-nav-bar>
  <section class="about-section">
    <div class="about-content">
      <h3>ABOUT</h3>
      <p>
        A student management system can mean several different things.
        However, context clues give away that this software is for managing
        students. But handling students can mean many things. So what really
        is a student management system? A Student Management System is also
        known as a Student Information System (SIS). These systems work to
        coordinate scheduling and communications between faculty regarding
        students. This system exists to simplify information tracking for both
        parents and administrative staff.Student management systems make
        faculty jobs more accessible by giving them an easy place to find and
        sort information. This system allows teachers and student managers to
        follow with their student engagement.
      </p>
    </div>
    <div class="about-img">
      <img src="assets/images/logo-main.png" alt="2" />
    </div>
  </section>
  <app-footer></app-footer>

</header>
