<header style="overflow: hidden;">
  <!-- navigation -->
  <app-nav-bar></app-nav-bar>
  <section class="contact-section">
    <div class="googlemap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.950911892484!2d30.5089232158959!3d50.44201499585345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef9c7d6616b%3A0x592e3b185607fc91!2sTaras%20Shevchenko%20National%20University%20of%20Kyiv!5e0!3m2!1sen!2sua!4v1656360630952!5m2!1sen!2sua"
        width="600"
        height="450"
        style="
            border: 3px solid black;
            border-radius: 10px;
            box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.64);
          "
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="contact-info">
      <div class="contact-main">
        <h3>ADDRESS</h3>
        <p>60 Volodymyrska Street, City of Kyiv, Ukraine, 01033</p>
      </div>
      <div class="numbers">
        <h3>CONTACT NUMBERS</h3>
        <a href="tel:+380 44 239-33-88">+380 44 239-33-88</a>
        <a href="tel:+380 44 239-33-29">+380 44 239-33-29</a>
        <a href="tel:+380 44 239-34-60">+380 44 239-34-60</a>
        <a href="tel:+380 44 521-35-61">+380 44 521-35-61</a>
      </div>
      <div class="contact-emails">
        <h3>CONTACT EMAILS</h3>
        <a href="mailto:office@knu.ua">office@knu.ua</a>
        <a href="mailto:info@knu.ua">info@knu.ua</a>
        <a href="mailto:stratcom@knu.ua">stratcom@knu.ua</a>
        <a href="mailto:abit@knu.ua">abit@knu.ua</a>
      </div>
      <div class="contact-socials">
        <h3>SOCIAL MEDIA</h3>
        <div class="social-links">
          <a href="https://www.facebook.com/kyiv.university" target="_blank"
          ><i class="fab fa-facebook-square"></i
          ></a>
          <a href="https://www.instagram.com/knu_uni/" target="_blank"
          ><i class="fab fa-instagram-square"></i
          ></a>
          <a
            href="https://ua.linkedin.com/school/taras-shevchenko-national-university-of-kyiv/"
            target="_blank"
          ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://www.youtube.com/c/KNUDepartmentofCommunications"
            target="_blank"
          ><i class="fab fa-youtube-square"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>

</header>
