<h1>Student info</h1>
<hr>
<div *ngIf="receivedStudent" class="show-info-btn">
  <img src="{{receivedStudent.imgUrl}}" alt="1" style="width:200px;height:200px;">
  <h2>Name: {{receivedStudent.name}}</h2>
  <h2>Faculty: {{receivedStudent.faculty}}</h2>
  <h2>Study Year: {{receivedStudent.studyYear}}</h2>
  <h2>Grade: {{receivedStudent.grade}}</h2>
  <h2>Group Name: {{receivedStudent.groupName}}</h2>
  <h2>App Role: {{receivedStudent.appRole}}</h2>
  <h2>Email:  {{receivedStudent.email}}</h2>
  <h2>Reserve Email: {{receivedStudent.reserveEmail}}</h2>
  <h2>Phone: {{receivedStudent.phone}}</h2>
  <h2></h2>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>

