<header>
  <!-- navigation -->
  <div class="navigation-bar">
    <div class="logo">
      <h1><a routerLink="">Student Managment <br> System</a></h1>
      <div class="drop">
        <h3>Manage Users</h3>
        <div class="dropdown-content">
          <ul>
            <li><a routerLink="/students">Manage Students</a></li>
            <br>
            <li><a routerLink="/teachers">Manage Teachers</a></li>
          </ul>
        </div>
      </div>
      <!-- <h3>Manage Users</h3>
      <div class="dropdown-content">
          <ul>
              <li><a href="">Page1</a></li>
              <li><a href="">Page1</a></li>
          </ul>
      </div> -->
    </div>
    <div class="menu-right">
      <img src="../../assets/images/avatar-1-300x300.png" alt="1">
      <div class="drop-account">
        <span>⯆</span>
        <div class="dropdown-acount">
          <ul>
            <li><a routerLink="/accountInfo">Account Info</a></li>
            <br>
            <li><a href="">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
