<header>
  <!-- navigation -->
  <app-nav-bar></app-nav-bar>
</header>
  <!-- main page -->
  <section class="account-page">
    <div class="info-box">
      <img src="assets/images/avatar-1-300x300.png" alt="1">
      <div class="main-info-box">
        <h1>Admin Oleksii</h1>
        <h5>Your Personal account</h5>
        <br><br>
        <p>Full Name: Nikitenko Oleksii Oleksandrovych</p>
        <p>Faculty: Faculty of Information Technology</p>
        <p>Year: 2 year student</p>
        <p>Grade: Bachelor degree</p>
        <p>Group: GG-21</p>
        <p>Role: Admin</p>
        <p>Email: oleksii.nikitenko@university.com</p>
        <p>Reserve email: oleksii.nikitenko@gmail.com</p>
        <p>Phone: +380 (66) 444 33 22</p>
      </div>
      <div class="edit-box">
        <button>Rename</button>
        <button>Change Password</button>
        <button>Set avatar</button>
        <button>Delete account</button>
      </div>
    </div>
  </section>

