
/* MAIN SECTION */
.main-page {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main-page .logo-main {
  /* background-color: aqua; */
  width: 45%;

}
.main-page .logo-main h1 {
  text-align: center;
  font-size: 3.5rem;
}

.main-page .logo-main img {
  display: block;
  width: 70%;
  /* background-color: brown; */
  margin-left: auto;
  margin-right: auto;
}
